<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_454764_53fcwwm6vy5mte29.css">
</head>

<body>
    <main class="main-wrapper">
        <div class="drop-left-wrap">
            <div class="common-logo">
                <img class="logo" src="../images/logo/logo.png" alt="logo">
            </div>

            <ul class="live-count">
                <li class="total-opened">
                    <div class="live-count-icon"></div>
                    <div class="live-count-info">
                        <span class="label">TOTAL OPENED</span>
                        <span class="value">11,555,480</span>
                    </div>
                </li>
                <li class="online-members">
                    <div class="live-count-icon"></div>
                    <div class="live-count-info">
                        <span class="label">ONLINE MEMBERS</span>
                        <span class="value">336</span>
                    </div>
                </li>
            </ul>
            <div class="drop-title">
                Recently won items
                <a href="#" id="j_full_switch">
                    <i class="icon iconfont icon-left"></i>
                </a>
            </div>
            <ul class="boxs-live-list">
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        P250 | Metallic DDPAT (Factory New)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/P2000.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
                <li class="boxs-live">
                    <div class="boxs-live-l">
                        AWP | Snake Camo (Field-Tested)
                    </div>
                    <div class="boxs-live-r">
                        <img src="../images/dev/AWP.png" alt="">
                    </div>
                </li>
            </ul>

            <div class="drop-switch" id="j_drop_switch"></div>
        </div>
        <div class="content-wrap">
            <div class="content-wrap-head">
                <div class="common-topbar-top">
                    <ul>
                        <li class="currency">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="currency" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    USD
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="###">USD</a>
                                    </li>
                                    <li>
                                        <a href="###">EUR</a>
                                    </li>
                                    <li>
                                        <a href="###">GBP</a>
                                    </li>
                                    <li>
                                        <a href="###">AUD</a>
                                    </li>
                                    <li>
                                        <a href="###">CAD</a>
                                    </li>
                                    <li>
                                        <a href="###">SAR</a>
                                    </li>
                                    <li>
                                        <a href="###">CHF</a>
                                    </li>
                                    <li>
                                        <a href="###">NOK</a>
                                    </li>
                                    <li>
                                        <a href="/default/quick/changecurrency/code/CNY">CNY</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="country">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="currency" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    USA
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="currency">
                                    <li>
                                        <a href="#">USA</a>
                                    </li>
                                    <li>
                                        <a href="#">USA</a>
                                    </li>
                                    <li>
                                        <a href="#">USA</a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li class="sign">
                            <a href="#">
                                <i class="icon iconfont icon-steam"></i>
                                Sign through STEAM
                            </a>
                        </li>
                        <li class="activity">
                            <a href="#">Daily Free</a>
                        </li>
                        <li class="follow-us">
                            <a href="#">
                                <i class="icon iconfont icon-fb"></i>
                            </a>
                            <a href="#">
                                <i class="icon iconfont icon-tw"></i>
                            </a>
                            <a href="#">
                                <i class="icon iconfont icon-vk"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="navbar">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">CSGO Cases</a>
                        </li>
                        <li>
                            <a href="#">
                                PUBG Cases
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contract
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <img style="width: 100%;" src="../images/banner.png" alt="banner">

            <div class="weapon-case-title"></div>
            <div class="weapon-case-group clearfix case-collapse open">
                <div class="weapon-case">
                    <div class="weapon-case-head">
                        <img class="game-logo csgo" src="../images/element/csgo-logo.png" alt="cago">
                        <a href="#" class="collapse-switch">
                            <i class="icon iconfont icon-down"></i>
                            <span class="text">Hide</span>
                        </a>
                    </div>
                    <div class="weapon-case-body collapse-body clearfix">
                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="weapon-case-group clearfix case-collapse open">
                <div class="weapon-case">
                    <div class="weapon-case-head">
                        <img class="game-logo pubg" src="../images/element/pubg-logo.png" alt="cago">
                        <a href="#" class="collapse-switch">
                            <i class="icon iconfont icon-down"></i>
                            <span class="text">Hide</span>
                        </a>
                    </div>
                    <div class="weapon-case-body collapse-body">
                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                        <a href="###" class="weapon-case-item">
                            <img class="case-img" src="../images/dev/case_230x208.png" alt="">
                            <img class="case-breath-light" src="../images/dev/casebg_230x208.png" alt="">
                            <div class="case-title">
                                CLASSIFIED
                            </div>
                            <div class="case-original-price">
                                <del>620</del>
                            </div>
                            <div class="case-btn-group">
                                <div class="btn-case-price">
                                    <i class="icon iconfont icon-vp"></i>
                                    600.00
                                </div>
                                <div onclick="javascript: alert('demo');" class="btn-case-demo"></div>
                            </div>
                            <div class="countdown">
                                <span class="clock"></span>
                                <span class="time">720 : 28 : 36</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>


    </main>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>